<div class="container">

  <%= form_for(@submission) do |f| %>
    <% if @submission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

        <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3><%= @submission.survey.title %></h3>
    <h3><%= @submission.survey.description %></h3>

    <%= f.hidden_field :survey_id %>

    <% @submission.survey.questions.each do |q| %>
          <h2><%= "Question" %>
          <h3><%= q.text%></h3>
          <h4><%= q.description %></h4>
          <% if q.required %>
            <p><%= "required" %></p>
          <% else %>
            <p><%= "optional" %></p>
          <% end %>
        <%= f.fields_for :answers do |ff| %>
          <% if q.question_type == "Yes/No"%>
            <div class="field">
              <br><%= ff.label :answer_text, "Yes" %> Yes
              <br><%= ff.check_box "answer_text[#{q.id}]", "No" %> No
            </div>
          <%elsif q.question_type == "Short"%>
            <div class="field">
              <%= ff.label :answer_text %><br>
              <%= ff.text_field "answer_text[#{q.id}]" %>
            </div>
          <%else q.question_type == "Long"%>
            <div class="field">
              <%= ff.label :answer_text %><br>
              <%= ff.text_area "answer_text[#{q.id}]" %>
            </div>
          <% end %>
        <% end %>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
