<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>My Surveys</h1>
  <p><%= link_to 'Create New Survey', new_survey_path()%></p>

      <% @surveys.each do |survey| %>
        <div class="row">
          <div class="col-md-2">
            <h3>Survey ID</h3>
            <p><%= survey.id %></p>
          </div>
          <div class="col-md-2">
            <h3>Survey Title</h3>
            <p><%= survey.title %></p>
          </div>
          <div class="col-md-3">
            <h3>Survey Description</h3>
            <p><%= survey.description %></p>
          </div>
          <div class="col-md-2">
            <h3>Published</h3>
            <p><%= survey.published %></p>
          </div>
          <div class="col-md-3">
            <h3>Actions</h3>
            <p><%= link_to 'Show', survey %></p>
            <p><%= link_to 'Edit', edit_survey_path(survey) %></p>
            <p><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      <% end %>

  <br>

</div>
