<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @survey.published %>
</p>

<%#= new_submission_url(/@survey) %>

<h2> Questions </h2>
<%= @survey.questions.each do |q| %>
  <p>Question Type: <%= q.question_type %></p>
  <p>Text: <%= q.text %></p>
  <p>Description: <%= q.description %></p>
  <p>Required? <%= q.required %></p>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
